<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text utilities</title>
</head>
<body>

<h1> Welcome to text analyzer. Enter your text bellow</h1>
<form action='/analyze' method='get'>
    <textarea name="text" style="width: 1294px; height: 149px;">
    </textarea><br>
    <input type="checkbox" name="removepunc"> removepunc <br>
    <input type="checkbox" name="fullcaps"> Capitalize <br>
    <input type="checkbox" name="newlineremover"> newlineremover <br>
    <input type="checkbox" name="spaceremover"> spaceremover<br>
    <input type="checkbox" name="charcount"> charcount<br>
    <button type="submit">Analyze Text</button>
</form>
</body>
</html>